body {
    font-family:Arial, sans-serif;


}
.content {
    text-align: center;
    margin:0 auto;
    max-width: 550px;
    padding-top: 5px
    padding-top: 5px

}

.content p{
    margin: 20px;

}

h1 {
    font-weight: 600;

}
h2 {
    font-size: initial;
    padding-bottom: 30px;
}

h4 {
    font-weight: bold;
    padding-top: 30px;
    color: #E30074;
}

.btn {
    width: auto;
    height: auto;
    color: #e30074;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    white-space: normal;
    border-width: 1px;
    border-color: #e30074;
    font-weight: 600;


}

.btn p{
    max-width: 100%;
    text-align: center;


}

.btn-lg:hover {
    color: #fff;
    background-color: #e30074;

}





.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;


}

.row {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #e4e4e4;
    text-align: center;
}



.tarify {
    width: 100%;

}


.footer {

    color: #fff;
    text-align: right;
    background-color: #e30074;
    padding: 20px;


}

.card-group {

    text-align: center;
    background-color: #e4e4e4;
    padding-bottom: 80px;

}

.nadpis {
    margin: 0 auto;
}

.card-block {
    width: 100%;

}

.card {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    height: auto;
    margin-bottom: 20px ;
    margin-top: 20px;
    width: 100%;
}



.card-title {

    padding-bottom: auto;
    height: auto;
}




@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        width: 540px;
        max-width: 100%;
    }
    .tarify-xs {
        display: none;
    }
}

@media (max-width: 576px) {
    .tarify {
        display: none;
    }
    .tarify-xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
}


@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .card-group {
        padding-left: 1cm;
        padding-right: 1cm;
    }
}

@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}


@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}